// Set your colors
$primary: #5190f5 !important;
$primary-light: #68c3ca;
$primary-lighter: #aadbe6;
$secondary: #e90000;
$ternary: rgb(255, 221, 103);

@font-face {
  font-family: Poppins;
  src: local("Poppins"), url("/fonts/Poppins-Regular.ttf") format("truetype"),
    url("/fonts/Poppins-Regular.otf") format("otf"),
    url("/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins"), url("/fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "Poppins";
}
